.page {
  height: 100%;
  font-size: 14px;
  font-family: "OswaldRg", sans-serif;
  line-height: 18px;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: #fff;
  color: #000000;
}

.page-main {
  flex-grow: 1;
}

.footer {
  margin-top: auto;
}

.footer {
  padding: 60px 0;
  background-color: #e3e3e3;
}
